name: Test Azure DevOps PAT
on:
  workflow_dispatch:

jobs:
  test-pat:
    runs-on: ubuntu-latest
    steps:
      - name: Check connectivity
        run: |
          curl -X GET \
            -H "Authorization: Basic $(echo -n :$AZURE_DEVOPS_PAT | base64)" \
            "https://dev.azure.com/teamok/Shrinking%20diagrams/_apis/wit/workitems?api-version=7.0" \
            -v
        env:
          AZURE_DEVOPS_PAT: ${{ secrets.AZURE_DEVOPS_PAT }}